**/bin/
**/obj/
.vs/
*.user
*.suo
*.cache
*.log
*.tmp
*.nupkg
*.exe
*.dll
packages/
*.userprefs
/.idea/
/.vscode/
/test/
todo.md
mc.exe
minio.exe
minio-data/ 
test/
installer/*/
output/
publish/
WixToolset.UI.wixext.6.0.2/
.wix/